numpy
scipy
statsmodels
matplotlib
seaborn
pandas
tqdm
modlamp
pymc3
scikit-optimize
torch
sequtils @ git+https://github.com/jancr/sequtils.git#egg=sequtils
#peputils @ git+https://git@github.com/jancr/peputils.git#egg=peputils
