numpy
scipy
matplotlib
seaborn
pandas
tqdm
modlamp
pymc3
git+git://github.com/jancr/sequtils.git#egg=sequtils
# git+git://github.com/jancr/peputils.git#egg=peputils
git+ssh://git@github.com/jancr/peputils.git#egg=peputils
