numpy
scipy
statsmodels
matplotlib
seaborn
pandas
tqdm
modlamp
pymc3
sequtils @ git+git://github.com/jancr/sequtils.git#egg=sequtils
peputils @ git+ssh://git@github.com/jancr/peputils.git#egg=peputils
